In [4]:
import numpy as np
import pandas as pd
f2 = open("letter-recognition.text","r")
lines = f2.readlines()
lines[1]

'I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10\n'

# New Section

In [8]:
let_tr = []
x_box = []
y_box = []
width = []
high = []
on_pix = []
x_bar = []
y_bar = []
x2_bar = []
y2_bar = []
xy_bar = []
x2y_bar = []
xy2_bar = []
x_ege = []
xeg_vy = []
y_ege = []
yeg_vx = []

In [9]:
def split_data(data):
    df_data = pd.DataFrame()
    for i in range(len(data)):
        sample = data[i].split(",")
        let_tr.append(str(sample[0]))
        x_box.append(int(sample[1]))
        y_box.append(int(sample[2]))
        width.append(int(sample[3]))
        high.append(int(sample[4]))
        on_pix.append(int(sample[5]))
        x_bar.append(int(sample[6]))
        y_bar.append(int(sample[7]))
        x2_bar.append(int(sample[8]))
        y2_bar.append(int(sample[9]))
        xy_bar.append(int(sample[10]))
        x2y_bar.append(int(sample[11]))
        xy2_bar.append(int(sample[12]))
        x_ege.append(int(sample[13]))
        xeg_vy.append(int(sample[14]))
        y_ege.append(int(sample[15]))
        yeg_vx.append(int(sample[16][:-1]))
    df_data['let_tr'] = let_tr
    df_data['x_box'] = x_box
    df_data['y_box'] = y_box
    df_data['width'] = width
    df_data['high'] = high
    df_data['on_pix'] = on_pix
    df_data['x_bar'] = x_bar
    df_data['y_bar'] = y_bar
    df_data['x2_bar'] = x2_bar
    df_data['y2_bar'] = y2_bar
    df_data['xy_bar'] = xy_bar
    df_data['x2y_bar'] = x2y_bar
    df_data['xy2_bar'] = xy2_bar
    df_data['x_ege'] = x_ege
    df_data['xeg_vy'] = xeg_vy
    df_data['y_ege'] = y_ege
    df_data['yeg_vx'] = yeg_vx

    return df_data

In [10]:
df = split_data(lines)
df

,let_tr,x_box,y_box,width,high,on_pix,x_bar,y_bar,x2_bar,y2_bar,xy_bar,x2y_bar,xy2_bar,x_ege,xeg_vy,y_ege,yeg_vx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   let_tr   20000 non-null  object
 1   x_box    20000 non-null  int64
 2   y_box    20000 non-null  int64
 3   width    20000 non-null  int64
 4   high     20000 non-null  int64
 5   on_pix   20000 non-null  int64
 6   x_bar    20000 non-null  int64
 7   y_bar    20000 non-null  int64
 8   x2_bar   20000 non-null  int64
 9   y2_bar   20000 non-null  int64
 10  xy_bar   20000 non-null  int64
 11  x2y_bar  20000 non-null  int64
 12  xy2_bar  20000 non-null  int64
 13  x_ege    20000 non-null  int64
 14  xeg_vy   20000 non-null  int64
 15  y_ege    20000 non-null  int64
 16  yeg_vx   20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [13]:
df.to_csv("raw_data.csv",index = False)